body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limitar-secao {
  max-width: 1024px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 36px;
  margin: 0;
  
}